
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: alpine-vision;
  src: url(../../public/css/AlpineVision-Regular.woff);
} 

body {
  background: #fff;
}
#modele {
  position: relative;
  width: 100%;
	background-image: url("http://localhost/tests/alpine-laravel/public/sources-homepage/A110/Alpine-A110-1.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
  height:300px;
  z-index: 1;
}

#A110-menu {
  background-color: none;
  width: 100%;
}

#A110-menu a {
  color: #005bbb;
  border-bottom: 1px solid rgb(182, 179, 179);
  width: 100%;
}

.dropdown {
  position: relative;
  width: 100%;
  background: #fff;
  z-index: 1;
  border-bottom: 1px solid rgb(182, 179, 179);
}

.dropdown-sticky {
  position: fixed;
  top: 60px;
}

.dropdown-toggle{
  display: block;
  text-align: left;
  &::after {
    float: right;
    position: relative;
    top: 8px;
  }
}

h1 {
  font-family: 'Roboto';
  font-size: 24px;
  color: #005bbb;
  padding-left: 20px;
  padding-top: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

h2, p {
  color: black;
}

section p {
  padding: 0 20px;
  text-align: justify;
}

section h2 {
  padding: 0 20px;
}

div p, div h1 {
  padding: 0 10px;
  text-align: justify;
}

div h2 {
  padding: 0 10px;
}

img, video {
  padding: 10px;
}

li a i {
  padding: 3%;
}

/* header */
  
.header {
  background: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header-back {
  background: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 10px 10px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
/* affichage vers la droite icon font */
.header li:last-child {
  background: #f4f2f3;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #ffff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 10;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
  
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
  
.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

/* changement couleur icone javascript */
.navicon-black, .navicon-black:before, .navicon-black:after  {
  background: black !important;
}
.navicon-black2 {
  background: transparent !important;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
  
.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

/* menu btn changement de la longueur de la liste */
.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

#logo {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.height-center {
  margin-top:auto;
  margin-bottom:auto;
}

/* 48em = 768px */
@media (min-width: 48em) {

  .header li {
    float: left;
  }
  .header li a {
    padding: 10px 10px;
    border: 1px solid #f4f4f4;
    font-weight: bold;
    text-align: center;
  }
  .header .menu {
    clear: none;
    max-height: none;
    background-color: transparent;
    display:block;
    margin:0 100px;
  }
  .header .menu-icon {
    display: none;
  }
  #icones {
    display: none;
  }
  #logo {
    display: block;
    margin: 0 auto;
    width: 30%;
  }
  #modele {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 600px;
    z-index: 1;
  }
  .header {
    height: 125px;
  }
  .header li:last-child {
    background-color: transparent;
  }
  #dropdownMenu2 {
    display: none;
  }
  h1 {
    font-size: 40px;
    margin-top: 20px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}

/* footer */

footer {
  background: #005bbb;
}

a.col-5 {
  color : white;
  margin-top: 30px;
}

a.col-5:last-child {
  margin-bottom: 15px;
}

.fab {
  padding-top: 20px;
}

.back-white {
  margin-bottom: -10px;
  padding: 10px;
  background: white;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter-square:hover, .fa-pinterest:hover, .fa-youtube:hover, .fa-linkedin:hover {
  color: #005bbb
}

.dropdown-menu.show {
  margin-left: -5px;
  margin-top: -2px;
}

#configurer {
  position: absolute;
  margin-left: 3%;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

#reserver {
  position: relative;
  left: 47%;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: grey;
}


.fa-chevron-circle-right {
  color: #ffffff;
}

.fa-chevron-circle-left {
  color: #ffffff;
}

#versions {
  background-color: #005bbb;
}

#alpine_pure, #alpine_pe, #alpine_legende {
  width: 80%;
  margin: auto;
}

/****** image hover ******/

.image-hover {
  position:relative;
  display:inline-block;
  margin: 0 auto;
  overflow:hidden;
  background:#fff;
}
.image-hover a {
  text-decoration:none;
}

/*** Effect zoom in ***/

.img-zoom-in img {
transition:all .2s ease-in-out;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-ms-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
}

.img-zoom-in:hover img {
transform:scale(1.1);
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-ms-transform:scale(1.1);
-o-transform:scale(1.1);
}

/* Blur */

.img-blur img {
  -webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img-blur:hover img {
  -webkit-filter: blur(0);
	filter: blur(0);
}

/* Parallax */

.parallax {
  /* The image used */
  background-image: url("http://localhost/tests/alpine-laravel/public/sources-homepage/interieur/interieur_2_desktop.png");
  /* Set a specific height */
  height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Slide */
.hover05 img {
	margin-left: 0px;
	// -webkit-transform: scale(1.0);
	// transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover05:hover img {
	margin-left: 30px;
}

/* Shine */
.hover14 {
	position: relative;
}
.hover14::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 25%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/*** effect inner-shadow ***/

.img-inner-shadow .layer {
  position: absolute;
  top: 10px;
  right: 25px;
  bottom: 10px;
  left: 25px;
  display: block;
}

.img-inner-shadow:hover .layer
{
  box-shadow:inset 0px 0px 120px rgba(0, 0, 0, 0.9);
  -moz-box-shadow:inset 0px 0px 120px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow:inset 0px 0px 120px rgba(0, 0, 0, 0.9)
}

.img-inner-shadow .layer
{
  transition:all 0.6s ease-in-out;
  -webkit-transition:all 0.6s ease-in-out;
  -moz-transition:all 0.6s ease-in-out;
  -ms-transition:all 0.6s ease-in-out;
  -o-transition:all 0.6s ease-in-out;
}

.img-inner-shadow:hover .layer
{
  transition:all 0.6s ease-in-out;
  -webkit-transition:all 0.6s ease-in-out;
  -moz-transition:all 0.6s ease-in-out;
  -ms-transition:all 0.6s ease-in-out;
  -o-transition:all 0.6s ease-in-out;
}

@media (min-width: 200px) and (max-width: 640px) {
  #logo {
    padding-top: 20px;
    padding-left: 50px;
    width: 10%;
  }
  .imagechange-3d 
  {
  width: 100%;
  height: 200px !important;
  }
}

@media screen and (min-width: 1260px) {
  #logo {
    display: block;
    margin: 0 auto;
    width: 20%;
  }
  .imagechange-3d 
  {
  width: 100%;
  height: 600px;
  }
}

/*** effect 3d image change ***/

.imagechange-3d-inner {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.imagechange-3d .imgchange-1 {
  opacity:1;
}
.imagechange-3d:hover .imgchange-1 {
  opacity:0;
}
.imagechange-3d .imgchange-2 {
  opacity:0;
}
.imagechange-3d:hover .imgchange-2 {
  opacity:1;
}

.imgchange-1 {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
.imgchange-2 {
  position:absolute;
  top:0px;right:0px;
  bottom:0px;
  left:0px;
  color:#fff;
  font-size:13px;
}

.imagechange-3d div 
{
  transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
}

.imagechange-3d 
{
  perspective:1000px;
  -webkit-perspective:1000px;
  -moz-perspective:1000px;
  -ms-perspective:1000px;
  -o-perspective:1000px;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.imagechange-3d-inner 
{
  transform-style:preserve-3d;
  transition:all 1.0s linear;
  -webkit-transform-style:preserve-3d;
  -webkit-transition:all 1.0s linear;
  -moz-transform-style:preserve-3d;
  -moz-transition:all 1.0s linear;
  -ms-transform-style:preserve-3d;
  -ms-transition:all 1.0s linear;
  -o-transform-style:preserve-3d;
  -o-transition:all 1.0s linear;
}

.imagechange-3d:hover .imagechange-3d-inner 
{
  transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
}

.imgchange-2 
{
  transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
}


/*** effect - image roll ***/

.img-roll {
  background:#fff
}
.img-roll img {
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px
}

.img-roll .img-1 {
  left:0px
}
.img-roll .img-2 {
  left:123%
}
.img-roll:hover .img-1 {
  left:123%
}
.img-roll:hover .img-2 {
  left:0px
}

.img-roll img {
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -ms-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
}

.img-roll:hover img {
  transition:all 1.2s ease-in-out;
  -webkit-transition:all 1.2s ease-in-out;
  -moz-transition:all 1.2s ease-in-out;
  -ms-transition:all 1.2s ease-in-out;
  -o-transition:all 1.2s ease-in-out;
}
