@charset "UTF-8";

@font-face {
  font-family: "Alpine-Script";
  src: url(/fonts/Alpine-Script.ttf?1d848189dea4e2a2f0f546209ccb036d);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Alpine-Script", sans-serif;
  color: black;
}

body {
  font-family: "Alpine-Script";
  font-size: 0.5em;
  color: black;
}

.hero {
  background-size: cover;
  background-position: center;
  background: white;
}

.hero-content {
  text-align: center;
  padding-top: 20px;
}

/* -- Navigation -- */

span.logo {
  position: absolute;
  margin-top: 20px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 1;
}

#nav-icon1 {
  width: 32px;
  height: 30px;
  position: relative;
  margin-top: 10px;
  float: right;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #0843a6;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* logo nav configuration */

.logo {
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
  left: 6px;
}

#nav-icon1 span:nth-child(2) {
  top: 10px;
  left: 3px;
}

#nav-icon1 span:nth-child(3) {
  top: 20px;
}

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  left: -7px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  background: white;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 10px;
  left: -8px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: white;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: auto;
  background: #0843a6;
  color: white;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
}

.overlay a {
  font-family: 'Open Sans', sans-serif;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  -webkit-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.overlay a:hover {
  color: rgba(255, 255, 255, 0.5);
}

/* menu full screnn */

.burgermenu {
  position: relative;
  left: -20px;
}

.alpine-logo {
  font-family: "Alpine-Script";
  padding: 15px 5px;
}

.mainnav {
  list-style: none;
}

.mainnav-li {
  font-size: 10px;
}

.mainnav-img {
  padding: 20px 20px 10px 10px;
}

.mainnav-a {
  border-bottom: 1px solid white;
}

.mainnav-a2 {
  font-size: 0.5em;
}

.mainnav-2 {
  float: right;
}

.padding-icone {
  padding: 10px 20px;
}

.carousel-titre {
  position: absolute;
  top: 3%;
  left: 35%;
  color: #0843a6;
}

.carousel-titre2 {
  font-size: 2em;
  text-align: center;
  color: #0843a6;
}

.carousel-prix {
  font-size: 2em;
  color: #0843a6;
}

.carousel-prix2 {
  font-size: 2em;
  text-align: center;
  color: #0843a6;
}

.configuration-btn {
  width: 100%;
  background: #0843a6;
  color: white;
}

@media (min-width: 68em) {
  .logo {
    display: block;
    margin: 0 auto;
    width: 25%;
  }
}

@media (min-width: 1260px) {
  .logo {
    display: block;
    margin: 0 auto;
    width: 20%;
  }
}

/* Effet hover pour choix des éléments */

.snip1295 {
  position: relative;
  overflow: hidden;
  margin: 7px;
  padding: 6px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
}

.snip1295 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1295 .border {
  position: absolute;
}

.snip1295 .border:before,
.snip1295 .border:after,
.snip1295 .border div:before,
.snip1295 .border div:after {
  background-color: #0843a6;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.snip1295 .border:before,
.snip1295 .border:after {
  width: 0;
  height: 2px;
}

.snip1295 .border div:before,
.snip1295 .border div:after {
  width: 2px;
  height: 0;
}

.snip1295 .border.one {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.snip1295 .border.one:before,
.snip1295 .border.one div:before {
  left: 0;
  top: 0;
}

.snip1295 .border.one:after,
.snip1295 .border.one div:after {
  bottom: 0;
  right: 0;
}

.snip1295 .border.two {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.snip1295 .border.two:before,
.snip1295 .border.two div:before {
  right: 0;
  top: 0;
}

.snip1295 .border.two:after,
.snip1295 .border.two div:after {
  bottom: 0;
  left: 0;
}

.snip1295 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1295:hover .border:before,
.snip1295.hover .border:before,
.snip1295:hover .border:after,
.snip1295.hover .border:after {
  width: 100%;
}

.snip1295:hover .border div:before,
.snip1295.hover .border div:before,
.snip1295:hover .border div:after,
.snip1295.hover .border div:after {
  height: 100%;
}

.snip1295.selected .border {
  position: absolute;
}

.snip1295.selected .border:before,
.snip1295.selected .border:after,
.snip1295.selected .border div:before,
.snip1295.selected .border div:after {
  background-color: #0843a6;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.snip1295.selected .border:before,
.snip1295.selected .border:after {
  width: 100%;
  height: 2px;
}

.snip1295.selected .border div:before,
.snip1295.selected .border div:after {
  width: 2px;
  height: 100%;
}

.snip1295.selected .border.one {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.snip1295.selected .border.one:before,
.snip1295.selected .border.one div:before {
  left: 0;
  top: 0;
}

.snip1295.selected .border.one:after,
.snip1295.selected .border.one div:after {
  bottom: 0;
  right: 0;
}

.snip1295.selected .border.two {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.snip1295.selected .border.two:before,
.snip1295.selected .border.two div:before {
  right: 0;
  top: 0;
}

.snip1295.selected .border.two:after,
.snip1295.selected .border.two div:after {
  bottom: 0;
  left: 0;
}

/* background carousel couleur */

.carousel-3d-slide {
  height: auto !important;
  background: #ffffff;
  background-color: #ffffff !important;
  border-style: none !important;
}

/* style bouton couleur */

