<template>
  <div class="container">
    <h6 class="text-center">A110 Pure : l'esprit de la mythique berlinette / A110 Légende : le caractère et le confort d'une GT</h6>
    <div class="row">
      <carousel-3d class="col-12 col-sm-12" >
        <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slides" :key="slide.id">
          <img :src="slide.img">
          <h4 class="carousel-titre">{{ slide.title }}</h4>
          <h3 class="carousel-prix">A partir de : {{ slide.prix }} €</h3>
        </slide>
      </carousel-3d>
      <button type="button" class="btn configuration-btn" @click="setActiveItem()">Configurez cette version</button>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
   return {
      slides: [
        {
          title: 'Pure',
          id: 1,
          img: "sources-homepage/configurateur/modele/selection/pure.png",
          prix: 54700,
        },
        {
          title: 'Légende',
          id: 2,
          img: "sources-homepage/configurateur/modele/selection/legende.png",
          prix: 58500,
        },
      ]
    }
  },
  methods: {
    setActiveItem: function() {
      let text = document.querySelector(".current h4").innerHTML;
      this.$root.modele = text;
      if (text === "Légende") {
        this.$root.prix = 58500;
        this.$root.prixModele = 58500;
      } else {
        this.$root.prix = 54700;
        this.$root.prixModele = 54700;
      }
      this.$root.currentView = "couleurs"
    },
  },
  computed: {
    model: function () {
      let text = document.querySelector(".current h4").innerHTML;
      return text
    }
  },
  props: ["title"]
};
</script>
