<template>
    <div class="container">
        <div class="row">
            <img id="carcouleur" :src="couleurModele"> 
            <carousel-3d class="col-12 col-sm-12" @after-slide-change="onSlideClick" v-if="this.$root.modele == 'Pure'">
                <slide :index="index" class="col-8 col-sm-12 couleur-slide" v-for="(slide, index) in slidespure" :key="slide.id">
                    <img :src="slide.img">
                    <h4 class="carousel-prix">{{ slide.title }}</h4>
                    <h3 class="carousel-prix">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>
            <carousel-3d class="col-12 col-sm-12" @after-slide-change="onSlideClick" v-if="this.$root.modele == 'Légende'" >
                <slide :index="index" class="col-8 col-sm-12 couleur-slide" v-for="(slide, index) in slideslegend" :key="slide.id">
                    <img :src="slide.img">
                    <h4 class="carousel-prix">{{ slide.title }}</h4>
                    <h3 class="carousel-prix">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>
        </div>
            <div class="col-12">
              <h4>MODELE CONFIGURE: {{ prixcouleur }} €</h4>
            </div>
            <div class="col-12">
               <button type="button" class="btn configuration-btn" @click="changeview">A suivre: JANTES & ROUES</button>
            </div>
    </div>
</template>

<script>
export default {
  data: function() {
   return {
      slidespure: [
          {
          title: 'Blanc',
          id: 1,
          img: "sources-homepage/configurateur/couleurs/selection/blanc.jpg",
          prix: 0,
          imgcar: "sources-homepage/configurateur/modele/pure/modele_pure-couleur_blanche-jante_standard (1).jpg",
        },
        {
          title: 'Bleu',
          id: 2,
          img: "sources-homepage/configurateur/couleurs/selection/bleu.jpg",
          prix: 1800,
          imgcar: "sources-homepage/configurateur/modele/pure/modele_pure-couleur_bleu-jante_standard1.jpg",
        },
        {
          title: 'Noir',
          id: 3,
          img: "sources-homepage/configurateur/couleurs/selection/noir.jpg",
          prix: 840,
          imgcar: "sources-homepage/configurateur/modele/pure/modele_pure-couleur_noire-jante_standard (1).jpg",
        },
      ],
      slideslegend: [
          {
          title: 'Blanc',
          id: 1,
          img: "sources-homepage/configurateur/couleurs/selection/blanc.jpg",
          prix: 0,
          imgcar: "sources-homepage/configurateur/modele/legende/modele_legende-couleur_blanc-jante_legende-4.jpg",
        },
        {
          title: 'Bleu',
          id: 2,
          img: "sources-homepage/configurateur/couleurs/selection/bleu.jpg",
          prix: 1800,
          imgcar: "sources-homepage/configurateur/modele/legende/modele_legende-couleur_bleu-jante_legende-4.jpg",
        },
        {
          title: 'Noir',
          id: 3,
          img: "sources-homepage/configurateur/couleurs/selection/noir.jpg",
          prix: 840,
          imgcar: "sources-homepage/configurateur/modele/legende/modele_legende-couleur_noir-jante_legende-4.jpg",
        },
      ],
      couleurModele: 'sources-homepage/configurateur/modele/legende/modele_legende-couleur_blanc-jante_legende-4.jpg',
      couleurPrix: 0,
      choixCouleur: '',
    }
  },
  methods: {
    changeview: function () {
      this.$root.currentView = "jantes";
      this.$root.prix += this.couleurPrix;
      this.$root.couleur =  this.choixCouleur;
      this.$root.prixCouleur = this.couleurPrix;
    },
    onSlideClick(newSlideIndex) {
      this.couleurModele = this.slidespure[newSlideIndex].imgcar;
      this.couleurPrix = this.slidespure[newSlideIndex].prix;
      this.choixCouleur = this.slidespure[newSlideIndex].title;
    }
  },
  computed: {
    prixcouleur: function () {
      
      return parseInt(this.$root.prix + this.couleurPrix);
    },
  },
  props: ["title"]
};
</script>
