<template>
    <div class="container">
        <div class="row">
            <carousel-3d class="col-12" @after-slide-change="onSlideClick">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesSelection" :key="slide.id">
                    <div class="snip1295" @click="selectEquipmentCategory($event, slide.title)">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                </slide>
            </carousel-3d>

            <!-- /* Design */ -->
            <carousel-3d class="col-12" @after-slide-change="onSlideClick2" v-if="choixEquipements == 'Design'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesDesign" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>

            <!-- /* Conduite */ -->
            <carousel-3d class="col-12" @after-slide-change="onSlideClick3" v-if="choixEquipements == 'Conduite'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesConduite" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>

            <!-- /* Confort */ -->
            <carousel-3d class="col-12" @after-slide-change="onSlideClick4" v-if="choixEquipements == 'Confort'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesConfort" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>

            <!-- /* Sécurité */ -->
            <carousel-3d class="col-12" @after-slide-change="onSlideClick5" v-if="choixEquipements == 'Sécurité'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesSécurité" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>

            <!-- /* Média et navigation */ -->
            <carousel-3d class="col-12" @after-slide-change="onSlideClick6" v-if="choixEquipements == 'Média et navigation'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesMedia" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>
            
            <!-- /* Personnalisation extérieure */ -->
            <carousel-3d class="col-12" @after-slide-change="onSlideClick7" v-if="choixEquipements == 'Personnalisation extérieure'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesPersoExt" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>

            <!-- /* Personnalisation intérieure */ -->
            <carousel-3d class="col-12" @after-slide-change="onSlideClick8" v-if="choixEquipements == 'Personnalisation intérieure'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesPersoInt" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                        <div></div>
                        </div>
                        <div class="border two">
                        <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>

            <div class="col-12">
                <h4>MODELE CONFIGURE: {{ prixEquipements }} €</h4>
            </div>
            <div class="col-12">
                <button type="button" class="btn configuration-btn" @click="changeView">A suivre: ACCESSOIRES</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function() {
        return {
            slidesSelection: [
                {
                title: 'Design',
                id: 1,
                img: "sources-homepage/configurateur/equipements/selection/design.jpg",
                },
                {
                title: 'Conduite',
                id: 2,
                img: "sources-homepage/configurateur/equipements/selection/conduite.jpg",
                },
                {
                title: 'Confort',
                id: 3,
                img: "sources-homepage/configurateur/equipements/selection/confort.jpg",
                },
                {
                title: 'Sécurité',
                id: 4,
                img: "sources-homepage/configurateur/equipements/selection/securite.jpg",
                },
                {
                title: 'Média et navigation',
                id: 5,
                img: "sources-homepage/configurateur/equipements/selection/media-nav.jpg",
                },
                {
                title: 'Personnalisation extérieure',
                id: 6,
                img: "sources-homepage/configurateur/equipements/selection/perso-ext.jpg",
                },
                {
                title: 'Personnalisation intérieure',
                id: 7,
                img: "sources-homepage/configurateur/equipements/selection/perso-int.jpg",
                },
            ], 
            slidesDesign: [
                {
                title: 'Pack héritage',
                id: 1,
                img: "sources-homepage/configurateur/equipements/categories/design/pack-heritage.jpg",
                prix: 180,
                },
                {
                title: 'Repose-pieds passager en aluminium',
                id: 2,
                img: "sources-homepage/configurateur/equipements/categories/design/repose-pied-alu.jpg",
                prix: 96,
                }
            ],
            slidesConduite: [
                {
                title: 'Aide au stationnement AR',
                id: 1,
                img: "sources-homepage/configurateur/equipements/categories/conduite/aide-stationnement-ar.jpg",
                prix: 420,
                },
                {
                title: 'Aide au stationnement AV et AR',
                id: 2,
                img: "sources-homepage/configurateur/equipements/categories/conduite/aide-stationnement-av-ar.jpg",
                prix: 750,
                },
                {
                title: 'Aide au stationnement AV AR et caméra de recul',
                id: 3,
                img: "sources-homepage/configurateur/equipements/categories/conduite/camera-recul.jpg",
                prix: 1200,
                },
                {
                title: 'Echappement Sport actif',
                id: 4,
                img: "sources-homepage/configurateur/equipements/categories/conduite/echappement-sport.jpg",
                prix: 1500,
                },
            ],
            slidesConfort: [
                {
                title: 'Retroviseur intérieur électrochrome',
                id: 1,
                img: "sources-homepage/configurateur/equipements/categories/confort/retro-int-electrochrome.jpg",
                prix: 0,
                },
                {
                title: 'Rétroviseurs ext. chauf. rabattables élec.',
                id: 2,
                img: "sources-homepage/configurateur/equipements/categories/confort/retro-ext-chaffant.jpg",
                prix: 504,
                },
                {
                title: 'Pack de rangement',
                id: 3,
                img: "sources-homepage/configurateur/equipements/categories/confort/pack-rangement.jpg",
                prix: 504,
                },
                {
                title: 'Régulateur / limiteur de vitesse',
                id: 4,
                img: "sources-homepage/configurateur/equipements/categories/confort/regul-limit-vitesse.jpg",
                prix: 0,
                },
            ],
            slidesSécurité: [
                {
                title: "Assistance au freinage d'urgence",
                id: 1,
                img: "sources-homepage/configurateur/equipements/categories/securite/aide-freinage-durgence.jpg",
                prix: 0,
                },
                {
                title: 'Airbags frontaux conducteur et passager',
                id: 2,
                img: "sources-homepage/configurateur/equipements/categories/securite/airbag.jpg",
                prix: 0,
                },
                {
                title: 'Système de freinage Haute-Perf 320mm',
                id: 3,
                img: "sources-homepage/configurateur/equipements/categories/securite/freinage-haute-perf.jpg",
                prix: 1000,
                },
            ],
            slidesMedia: [
                {
                title: 'Système Audio standard',
                id: 1,
                img: "sources-homepage/configurateur/equipements/categories/media et navigation/audio-standard.jpg",
                prix: 0,
                },
                {
                title: 'Alpine Télémétrics',
                id: 2,
                img: "sources-homepage/configurateur/equipements/categories/media et navigation/alpine-metrics.jpg",
                prix: 204,
                },
                {
                title: 'Système Audio Focal',
                id: 3,
                img: "sources-homepage/configurateur/equipements/categories/media et navigation/audio-focal.jpg",
                prix: 600,
                },
                {
                title: 'Système Audio Focal Premium',
                id: 4,
                img: "sources-homepage/configurateur/equipements/categories/media et navigation/audio-premium.jpg",
                prix: 1200,
                },
            ],
            slidesPersoExt: [
                {
                title: 'Etriers de frein couleur Gris Anthracite',
                id: 1,
                img: "sources-homepage/configurateur/equipements/categories/personnalisation exterieure/etrier-gris.jpg",
                prix: 0,
                },
                {
                title: 'Etriers de frein couleur Bleu Alpine',
                id: 2,
                img: "sources-homepage/configurateur/equipements/categories/personnalisation exterieure/etrier-bleu.jpg",
                prix: 384,
                },
                {
                title: 'Logo Alpine sur les ailes avant',
                id: 3,
                img: "sources-homepage/configurateur/equipements/categories/personnalisation exterieure/logo-alpine.jpg",
                prix: 120,
                },
            ],
            slidesPersoInt: [
                {
                title: 'Harmonie carbone mat',
                id: 1,
                img: "sources-homepage/configurateur/equipements/categories/personnalisation interieure/pack-carbone.jpg",
                prix: 0,
                },
                {
                title: 'Pédalier en aluminium',
                id: 2,
                img: "sources-homepage/configurateur/equipements/categories/personnalisation interieure/pedal-alu.jpg",
                prix: 120,
                },
                {
                title: 'Logo au centre du volant en Bleu Alpine',
                id: 3,
                img: "sources-homepage/configurateur/equipements/categories/personnalisation interieure/logo-volant.jpg",
                prix: 84,
                },
                {
                title: 'Sièges chauffants',
                id: 4,
                img: "sources-homepage/configurateur/equipements/categories/personnalisation interieure/siege-chauffant.jpg",
                prix: 400,
                },
            ],
            equipementsModele: '',
            equipementsPrix: 0,
            choixEquipements: '',
        }
    },
    methods: {
        selectEquipmentCategory($event, title) {
            event.target.parentNode.classList.toggle('selected')
            this.choixEquipements = title;
        },
        changeView: function () {
            this.$root.currentView = "accessoires";
            this.$root.prix += this.equipementsPrix;
            this.$root.equipements =  this.choixEquipements;
            this.$root.prixEquipements = this.equipementsPrix;
        },
        onSlideClick(newSlideIndex) {
            this.equipementsModele = this.slidesSelection[newSlideIndex].img;
            this.equipementsPrix = this.slidesSelection[newSlideIndex].prix;
            this.choixEquipements = this.slidesSelection[newSlideIndex].title;
        },
        onSlideClick2(newSlideIndex) {
            this.equipementsModele = this.slidesDesign[newSlideIndex].img;
            this.equipementsPrix = this.slidesDesign[newSlideIndex].prix;
            this.choixEquipements = this.slidesDesign[newSlideIndex].title;
        },
        onSlideClick3(newSlideIndex) {
            this.equipementsModele = this.slidesConduite[newSlideIndex].img;
            this.equipementsPrix = this.slidesConduite[newSlideIndex].prix;
            this.choixEquipements = this.slidesConduite[newSlideIndex].title;
        },
        onSlideClick4(newSlideIndex) {
            this.equipementsModele = this.slidesConfort[newSlideIndex].img;
            this.equipementsPrix = this.slidesConfort[newSlideIndex].prix;
            this.choixEquipements = this.slidesConfort[newSlideIndex].title;
        },
        onSlideClick5(newSlideIndex) {
            this.equipementsModele = this.slidesSécurité[newSlideIndex].img;
            this.equipementsPrix = this.slidesSécurité[newSlideIndex].prix;
            this.choixEquipements = this.slidesSécurité[newSlideIndex].title;
        },
        onSlideClick6(newSlideIndex) {
            this.equipementsModele = this.slidesMedia[newSlideIndex].img;
            this.equipementsPrix = this.slidesMedia[newSlideIndex].prix;
            this.choixEquipements = this.slidesMedia[newSlideIndex].title;
        },
        onSlideClick7(newSlideIndex) {
            this.equipementsModele = this.slidesPersoExt[newSlideIndex].img;
            this.equipementsPrix = this.slidesPersoExt[newSlideIndex].prix;
            this.choixEquipements = this.slidesPersoExt[newSlideIndex].title;
        },
        onSlideClick8(newSlideIndex) {
            this.equipementsModele = this.slidesPersoInt[newSlideIndex].img;
            this.equipementsPrix = this.slidesPersoInt[newSlideIndex].prix;
            this.choixEquipements = this.slidesPersoInt[newSlideIndex].title;
        },
    },
    computed: {
        prixEquipements: function () {
            return parseInt(this.$root.prix + this.equipementsPrix);
        },
    },
    props: ["title"]
};
</script>
