<template>
    <div class="container">
        <div class="row">
            <img id="carcouleur" :src="couleurJantes">
            <carousel-3d class="col-12 col-sm-12" @after-slide-change="onSlideClick" v-if="this.$root.modele == 'Pure'">
                <slide :index="index" class="col-8 col-sm-12 couleur-slide" v-for="(slide, index) in slidespure"
                       :key="slide.id">
                    <img :src="slide.img">
                    <h4 class="carousel-prix">{{ slide.title }}</h4>
                    <h3 class="carousel-prix">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>
            <carousel-3d class="col-12 col-sm-12" @after-slide-change="onSlideClick2"
                         v-if="this.$root.modele == 'Légende'">
                <slide :index="index" class="col-8 col-sm-12 couleur-slide" v-for="(slide, index) in slideslegend"
                       :key="slide.id">
                    <img :src="slide.img">
                    <h4 class="carousel-prix">{{ slide.title }}</h4>
                    <h3 class="carousel-prix">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>
        </div>
        <div class="col-12">
            <h4>MODELE CONFIGURE: {{ prixjante }} €</h4>
        </div>
        <div class="col-12">
            <button type="button" class="btn configuration-btn " @click="changeview">A suivre: SELLERIE</button>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                slidespure: [
                    {
                        title: 'standard',
                        id: 1,
                        img: "sources-homepage/configurateur/jantes/selection/jante-standard.jpg",
                        prix: 0,
                        imgcar: "",
                    },
                    {
                        title: 'serac',
                        id: 2,
                        img: "sources-homepage/configurateur/jantes/selection/jante-serac.jpg",
                        prix: 1000,
                        imgcar: "",
                    },
                ],
                slideslegend: [
                    {
                        title: 'standard',
                        id: 1,
                        img: "sources-homepage/configurateur/jantes/selection/jante-standard.jpg",
                        prix: 0,
                        imgcar: "",
                    }, {
                        title: 'serac',
                        id: 2,
                        img: "sources-homepage/configurateur/jantes/selection/jante-serac.jpg",
                        prix: 1000,
                        imgcar: "",
                    },
                    {
                        title: 'legende',
                        id: 3,
                        img: "sources-homepage/configurateur/jantes/selection/jante-legende.jpg",
                        prix: 0,
                        imgcar: "",
                    },
                ],
                couleurJantes: 'sources-homepage/configurateur/jantes/vues/couleur-bleu_jante-standard (3).jpg',
                jantesPrix: 0,
                choixJantes: '',
            }
        },
        methods: {
            changeview: function () {
                this.$root.currentView = "sellerie";
                this.$root.prix += this.jantesPrix;
                this.$root.choixJantes = this.choixJantes;
                parseInt(this.$root.jantesPrix = this.jantesPrix);

            },
            onSlideClick(newSlideIndex) {
                if (this.$root.couleur == 'Bleu') {
                    this.slidespure[1]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-bleu_jante-serac (3).jpg";
                    this.slidespure[0]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-bleu_jante-standard (3).jpg";
                } else if (this.$root.couleur == 'Blanc') {
                    this.slidespure[1]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-blanc_jante-serac (2).jpg";
                    this.slidespure[0]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-blanc_jante-standard (2).jpg";
                } else if (this.$root.couleur == 'Noir') {
                    this.slidespure[1]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-noir_jante-serac (1).jpg";
                    this.slidespure[0]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-noir_jante-standard (1).jpg";
                }
                this.couleurJantes = this.slidespure[newSlideIndex].imgcar;
                this.jantesPrix = this.slidespure[newSlideIndex].prix;
                this.choixJantes = this.slidespure[newSlideIndex].title
            },
            onSlideClick2(newSlideIndex) {
                if (this.$root.couleur == 'Bleu') {
                    this.slideslegend[0]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-bleu_jante-serac (3).jpg";
                    this.slideslegend[1]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-bleu_jante-standard (3).jpg";
                    this.slideslegend[2]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-bleu_jante-legende (3).jpg";
                } else if (this.$root.couleur == 'Blanc') {
                    this.slideslegend[0]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-blanc_jante-serac (2).jpg";
                    this.slideslegend[1]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-blanc_jante-standard (2).jpg";
                    this.slideslegend[2]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-blanc_jante-legende (2).jpg";
                } else if (this.$root.couleur == 'Noir') {
                    this.slideslegend[0]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-noir_jante-serac (1).jpg";
                    this.slideslegend[1]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-noir_jante-standard (1).jpg";
                    this.slideslegend[2]["imgcar"] = "sources-homepage/configurateur/jantes/vues/couleur-noir_jante-legende (1).jpg";
                }
                this.couleurJantes = this.slideslegend[newSlideIndex].imgcar;
                this.jantesPrix = this.slideslegend[newSlideIndex].prix;
                this.choixJantes = this.slideslegend[newSlideIndex].title
            },
        },
        computed: {
            prixjante: function () {
                return parseInt(this.$root.prix + this.jantesPrix);
            },
        },
        props: ["title"]
    };
</script>
