<template>
    <div class="container">
        <div class="row">
            <carousel-3d class="col-12 col-sm-12" @after-slide-change="onSlideClick" v-if="this.$root.modele == 'Pure'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesPure" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <div class="border one">
                            <div></div>
                        </div>
                        <div class="border two">
                            <div></div>
                        </div>
                        <img :src="slide.img">
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>
            <div class="container">
                <div class="row">
                    <div class="col-12"
                         v-if="choixSellerie == 'Sièges baquets en cuir noir et Dinamica'">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir_dinamica-1.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir_dinamica-2.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir_dinamica-3.jpg">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12"
                         v-if="choixSellerie == 'Sièges confort en cuir noir perforé'">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir_perfore-1.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir_perfore-2.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir_perfore-3.jpg">
                    </div>
                </div>
            </div>
            <carousel-3d class="col-12 col-sm-12" @after-slide-change="onSlideClick2"
                         v-if="this.$root.modele == 'Légende'">
                <slide :index="index" class="col-8 col-sm-12" v-for="(slide, index) in slidesLegende" :key="slide.id">
                    <div class="snip1295" @click="$event.target.parentNode.classList.toggle('selected')">
                        <img :src="slide.img">
                        <div class="border one">
                            <div></div>
                        </div>
                        <div class="border two">
                            <div></div>
                        </div>
                    </div>
                    <h3 class="carousel-titre2">{{ slide.title }}</h3>
                    <h3 class="carousel-prix2">{{ slide.prix }} €</h3>
                </slide>
            </carousel-3d>
            <div class="container">
                <div class="row">
                    <div class="col-12"
                         v-if="choixSellerie == 'Sièges confort en cuir noir'">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir-1.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir-2.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-noir-3.jpg">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12"
                         v-if="choixSellerie == 'Sièges confort en cuir brun'">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-brun-1.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-brun-2.jpg">
                        <img style="display: block; margin: 0 auto;" class="col-12 col-lg-6"
                             src="sources-homepage/configurateur/interieurs/vues/cuir-brun-3.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <h4>MODELE CONFIGURE: {{ prixSellerie }} €</h4>
        </div>
        <div class="col-12">
            <button type="button" class="btn configuration-btn" @click="changeView">A suivre: EQUIPEMENTS</button>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                slidesPure: [
                    {
                        title: 'Sièges baquets en cuir noir et Dinamica',
                        id: 1,
                        img: "sources-homepage/configurateur/interieurs/selection/cuir-noir_dinamica.jpg",
                        prix: 0,
                    },
                    {
                        title: 'Sièges confort en cuir noir perforé',
                        id: 2,
                        img: "sources-homepage/configurateur/interieurs/selection/cuir-noir_perfore.jpg",
                        prix: 800,
                    },
                ],
                slidesLegende: [
                    {
                        title: 'Sièges confort en cuir noir',
                        id: 1,
                        img: "sources-homepage/configurateur/interieurs/selection/cuir-noir.jpg",
                        prix: 0,
                    },
                    {
                        title: 'Sièges confort en cuir brun',
                        id: 2,
                        img: "sources-homepage/configurateur/interieurs/selection/cuir-brun.jpg",
                        prix: 800,
                    }
                ],
                sellerieModele: '',
                selleriePrix: 0,
                choixSellerie: '',
            }
        },
        methods: {
            changeView: function () {
                this.$root.currentView = "equipements";
                this.$root.prix += this.selleriePrix;
                this.$root.choixSellerie = this.choixSellerie;
                this.$root.prixSellerie = this.selleriePrix;
            },
            onSlideClick(newSlideIndex) {
                this.sellerieModele = this.slidesPure[newSlideIndex].img;
                this.selleriePrix = this.slidesPure[newSlideIndex].prix;
                this.choixSellerie = this.slidesPure[newSlideIndex].title;
            },
            onSlideClick2(newSlideIndex) {
                this.sellerieModele = this.slidesLegende[newSlideIndex].img;
                this.selleriePrix = this.slidesLegende[newSlideIndex].prix;
                this.choixSellerie = this.slidesLegende[newSlideIndex].title;
            }
        },
        computed: {
            prixSellerie: function () {
                return parseInt(this.$root.prix + this.selleriePrix);
            },
        },
        props: ["title"]
    };
</script>
