

    <template>
<div class="container">
  <h6 class="text-center">A110 Pure : l'esprit de la mythique berlinette / A110 Légende : le caractère et le confort d'une GT</h6>
  <div class="row" v-for="slide in slides" :key="slide.id">
    <carousel-3d class="col-12 col-sm-12">
      <slide :index="slide.id" class="col-8 col-sm-12">
        <img src="slide.img">
        <p>{{ slide.title }}</p>
      </slide>
    </carousel-3d>
  </div>
</div>
</template>


<script>
export default {
  data: function () {
   return {
      slides: [
        {
          title: 'I am Slide A',
          id: 1,
          img: "sources-homepage/configurateur/modele/selection/legende.png"
        },
        {
          title: 'I am Slide B',
          id: 2,
          img: "sources-homepage/configurateur/modele/selection/legende.png"
        },
      ]
    }
},
  props: ["title"]
};
</script>
    


    <template>
<div class="container">
  <div class="row">
    <h6 class="text-center">A110 Pure : l'esprit de la mythique berlinette / A110 Légende : le caractère et le confort d'une GT</h6>
    <carousel-3d class="col-12 col-sm-12">
      <slide :index="0" class="col-8 col-sm-12">
        <img src="sources-homepage/configurateur/modele/selection/pure.png">
      </slide>
      <slide :index="1" class="col-8 col-sm-12">
        <img src="sources-homepage/configurateur/modele/selection/legende.png">
      </slide>
    </carousel-3d>
  </div>
</div>
</template>

<script>
export default {
  data: function () {
   return {
      slides: [
        {
          title: 'I am Slide A',
          id: 1,
        },
        {
          title: 'I am Slide B',
          id: 2
        },
      ]
    }
},
  props: ["title"]
};
</script>
    
